python/analyzer/text.txt
python/analyzer¥¥result.ext
/.vs
/c#/introductory/2-1/MyMemo/MyMemo/obj/Release
/c#/introductory/ApplicationTemplate01/obj
/c#/introductory/Calc01/obj
/C++/moji_test/.vs/moji_test/v16
/C++/moji_test/Debug
/crossP_test/UITests/obj
c#/introductory/2-1/MyMemo/MyMemo/obj/Debug/MyMemo.csproj.AssemblyReference.cache
.vscode/tasks.json
c#/sample/sample/bin/Debug/net8.0/sample.deps.json
c#/sample/sample/bin/Debug/net8.0/sample.dll
c#/sample/sample/bin/Debug/net8.0/sample.exe
c#/sample/sample/bin/Debug/net8.0/sample.pdb
c#/sample/sample/bin/Debug/net8.0/sample.runtimeconfig.json
c#/sample/sample/obj/project.assets.json
c#/sample/sample/obj/project.nuget.cache
c#/sample/sample/obj/sample.csproj.nuget.dgspec.json
c#/sample/sample/obj/sample.csproj.nuget.g.props
c#/sample/sample/obj/sample.csproj.nuget.g.targets
c#/sample/sample/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
c#/sample/sample/obj/Debug/net8.0/apphost.exe
c#/sample/sample/obj/Debug/net8.0/sample.AssemblyInfo.cs
c#/sample/sample/obj/Debug/net8.0/sample.AssemblyInfoInputs.cache
c#/sample/sample/obj/Debug/net8.0/sample.assets.cache
c#/sample/sample/obj/Debug/net8.0/sample.csproj.CoreCompileInputs.cache
c#/sample/sample/obj/Debug/net8.0/sample.csproj.FileListAbsolute.txt
c#/sample/sample/obj/Debug/net8.0/sample.dll
c#/sample/sample/obj/Debug/net8.0/sample.GeneratedMSBuildEditorConfig.editorconfig
c#/sample/sample/obj/Debug/net8.0/sample.genruntimeconfig.cache
c#/sample/sample/obj/Debug/net8.0/sample.GlobalUsings.g.cs
c#/sample/sample/obj/Debug/net8.0/sample.pdb
c#/sample/sample/obj/Debug/net8.0/sample.sourcelink.json
c#/sample/sample/obj/Debug/net8.0/ref/sample.dll
c#/sample/sample/obj/Debug/net8.0/refint/sample.dll
C++/mem_leak_test/mem_leak_test.exe
c#/windowApp_sample/windowApp_sample/obj/project.assets.json
c#/windowApp_sample/windowApp_sample/obj/project.nuget.cache
c#/windowApp_sample/windowApp_sample/obj/windowApp_sample.csproj.nuget.dgspec.json
c#/windowApp_sample/windowApp_sample/obj/windowApp_sample.csproj.nuget.g.props
c#/windowApp_sample/windowApp_sample/obj/windowApp_sample.csproj.nuget.g.targets
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/apphost.exe
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.AssemblyInfo.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.AssemblyInfoInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.assets.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.csproj.CoreCompileInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.csproj.FileListAbsolute.txt
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.GeneratedMSBuildEditorConfig.editorconfig
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.genruntimeconfig.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.GlobalUsings.g.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/windowApp_sample.sourcelink.json
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/ref/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0/refint/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0/windowApp_sample.deps.json
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0/windowApp_sample.exe
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0/windowApp_sample.runtimeconfig.json
c#/windowApp_sample/windowApp_sample/bin/Debug/net6.0-windows/windowApp_sample.deps.json
c#/windowApp_sample/windowApp_sample/bin/Debug/net6.0-windows/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/bin/Debug/net6.0-windows/windowApp_sample.exe
c#/windowApp_sample/windowApp_sample/bin/Debug/net6.0-windows/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/bin/Debug/net6.0-windows/windowApp_sample.runtimeconfig.json
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0-windows/windowApp_sample.deps.json
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0-windows/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0-windows/windowApp_sample.exe
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0-windows/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/bin/Debug/net8.0-windows/windowApp_sample.runtimeconfig.json
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/apphost.exe
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.AssemblyInfo.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.AssemblyInfoInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.assets.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.csproj.CoreCompileInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.csproj.FileListAbsolute.txt
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.GeneratedMSBuildEditorConfig.editorconfig
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.genruntimeconfig.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/windowApp_sample.sourcelink.json
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/ref/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net6.0-windows/refint/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/apphost.exe
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.AssemblyInfo.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.AssemblyInfoInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.assets.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.csproj.CoreCompileInputs.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.csproj.FileListAbsolute.txt
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.GeneratedMSBuildEditorConfig.editorconfig
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.genruntimeconfig.cache
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.GlobalUsings.g.cs
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.pdb
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/windowApp_sample.sourcelink.json
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/ref/windowApp_sample.dll
c#/windowApp_sample/windowApp_sample/obj/Debug/net8.0-windows/refint/windowApp_sample.dll
/c#/exception_test/obj
