python/analyzer/text.txt
python/analyzer¥¥result.ext
/.vs
/c#/introductory/2-1/MyMemo/MyMemo/obj/Release
/c#/introductory/ApplicationTemplate01/obj
/c#/introductory/Calc01/obj
/C++/moji_test/.vs/moji_test/v16
/C++/moji_test/Debug
/crossP_test/UITests/obj
